[submodule "termbox"]
	path = termbox
	url = git@github.com:nsf/termbox.git
[submodule "mpg123"]
	path = mpg123
	url = git@github.com:georgi/mpg123.git
[submodule "jansson"]
	path = jansson
	url = git@github.com:georgi/jansson.git
[submodule "portaudio"]
	path = portaudio
	url = git@github.com:georgi/portaudio.git
[submodule "sds"]
	path = sds
	url = git@github.com:antirez/sds.git
[submodule "http-parser"]
	path = http-parser
	url = git@github.com:joyent/http-parser.git
[submodule "hitpoint"]
	path = hitpoint
	url = git@github.com:georgi/hitpoint
[submodule "hitman"]
	path = hitman
	url = git@github.com:georgi/hitman
